*,
*:before,
*:after {
    box-sizing: border-box
}

.container-login {
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:hover,
    &:active {

        .top-login,
        .bottom-login {

            &:before,
            &:after {
                margin-left: 250px;
                transform-origin: -250px 50%;
                transition-delay: 0s;
            }
        }

        .center-login {
            opacity: 1;
            transition-delay: 0.2s;
        }
    }
}

.top-login,
.bottom-login {

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 200vmax;
        height: 200vmax;
        top: 50%;
        left: 50%;
        margin-top: -100vmax;
        transform-origin: 0 50%;
        transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
        z-index: 10;
        opacity: 0.65;
        transition-delay: 0.2s;
    }
}

.top-login {
    &:before {
        transform: rotate(45deg);
        background: #0075a5;
    }

    &:after {
        transform: rotate(135deg);
        background: #00c7fa;
    }
}

.bottom-login {
    &:before {
        transform: rotate(-45deg);
        background: #ff9999;
    }
    
    &:after {
        transform: rotate(-135deg);
        background: #7f282f;
    }
}

.center-login {
    position: absolute;
    width: 400px;
    height: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;

    .img-login-container {
        width: 150px;
        position: absolute;
        top: -15%;
        .login-img {
            width: 100%;
            transform: scale(1.7);
        }
    }

    .btn.my_btn-login {
        background-color: #00c7fa !important;
        &:hover,
        &:focus, 
        &:active {
            background-color: #FF9999 !important;
            color: white;
        }
    }
    .my_input {
        background-color: #fff;
        width:100%;
        border-radius:1px;
        border:1px solid #0075a5;
        padding-left: 5px;

        &:focus,
        &:hover,
        &:active {
            background-color: #fff;
            border:1px solid #00c7fa;
            outline-color: #00c7fa;
        }
    }
}